/* start hero */

.hero {
    padding-top: 80px;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 100%;
}

.crunch__link {
    color: #D6D4D4E0;
    text-decoration: none;

}
.crunch__wrapper {
    max-width: 50%;
}
.crunch {
    width: 250px;
    align-items: flex-end;
    font-size: 15px;
    border-bottom: 1px solid;
    border-color: #D6D4D4E0;
}

.crunch__item1 {
    margin-right: 23px;
}
.crunch__list>li::after , .crunch__link:focus::after{
    background-color: var(--red-color);
    content: "";
    width: 0;
    height: 1px;
    left: 0;
    margin: 0 auto;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
}

li:hover::after, .crunch__link:focus::after {
    width: 100%;
}

.crunch__item2 {
    margin-right: 18px;
}

.crunch__item3 {
    margin-right: 15px;
}


.crunch__link:hover, .crunch__link:focus {
    color: var(--red-color);
}

.hero__big__letters {
    color: #2E2E2E;
    font-size: var(--biggest-font);
    font-weight: 700;
    line-height: 77.50px;
    max-width: 600px;
    padding-top: 5%;
}

.hero__inter_letters {
    color: #808080;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.80px;
    padding-top: 5%;
    max-width: 450px;

}

.hero__img {
    max-width: 505px;
}

.hero__button_red {
    margin-top: 4%;
    padding: 12px;
    background: var(--red-color);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}

.hero__button_white {
    max-width: 135px;
    margin-top: 60px;
    margin-bottom: 10%;
    margin-left: 24px;
    padding: 12px;
    border-radius: 8px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}

.CreateAnAccount {
    color: white;
}
.CreateAnAccount:hover, .viber_link:hover,
.CreateAnAccount:focus, .viber_link:focus,
.CreateAnAccount:active, .viber_link:active
{
    box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.50);

}
.ChooseYourPlan,
.CreateAnAccount {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* end hero */
