
.pre_last {
    margin-top: 10%;
}

.pre_last__bg {
    width: 90%;
    border-radius: 16px;
    background: var(--secondary-soft-purple, #F7FAFE);
}

.pre_last__text {
    text-align: center;
    font-size: var(--biggest-font);
    font-weight: 600;
    line-height: 88px;
    width: 85%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 40px;

}

.pre_last__button {
    padding-top: 40px;
    margin: 0 auto;
    border-radius: 8px;
    background: var(--red-color);
    width: 175px;
    height: 25px;
    padding: 12px 16px 11px 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 9px;
}

.pre_last_button__text {
    font-size: 14px;
    color: white;
    font-weight: 400;
    line-height: 24px;
}

.triangle1 {
    margin-left: 420px;
    margin-top: -365px;

}

.triangle2 {
    margin-left: -20px;
    margin-top: 280px;

}

.triangle3 {
    margin-left: 97%;
    margin-top: -20px;
    padding-bottom: 5%;
}
