/* testimonials start*/
.testimonials__wrapper {
    padding-top: 105px;
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 47% 52%;
    column-gap: 1%;
}
.grid1wrap {
    margin-left: 20%;
}
.test__title,
.under__title {
    font-family: Inter;
    font-size: var(--big-font);
    font-weight: 800;
    line-height: 64px;

}

.quote {
    margin-bottom: -23%;
}

.test__head {
    width: 100%;
    height: 35%;
}

.wrap_it {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 170px;
    margin-left: 12%;
    margin-top: 55px;
}

.test__description,
.under__text {
    font-family: Inter;
    font-size: var(--text-font);
    font-weight: 400;
    line-height: 32px;
}

.testimonial1 {
    width: 70%;
    height: 340px;
    margin-top: 105px;
}

.testimonial2 {
    width: 350px;
    height: 276px;
    margin-top: 30px;
}

.testimonial3 {
    width: 70%;
    height: 58%;
    margin-left: 17%;
}

.testimonial1,
.testimonial2,
.testimonial3 {
    border-radius: 8px;
    box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
}

.test__wrapper {
    margin-left: 32px;
}

.smallquote {
    float: left;
}

.testtext {
    margin-bottom: 24px;
    max-width: 90%;
}

.testtext,
.test__name,
.test__smth {
    padding-left: 32px;
}

.test_text___wrapper {
    padding-left: 32px;

}

.testtext,
.test__name {
    font-family: Inter;
    font-size: var(--text-font);
    line-height: 28px;
}

.testtext {
    font-weight: 400;
}

.test__name {
    font-weight: 700;
}

.test__smth {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 5%;
}

.jpnl {
    padding-bottom: 15px;
    padding-top: 40px;
    padding-left: 32px;

}

.crypto {
    padding-left: 65px;
    padding-top: 10px;

}

.leeve {
    padding-left: 55px;
    padding-top: 40px;
}

.test__under {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;

}

.under_text__wrapper {
    max-width: 445px;
    margin-left: 140px;
}

.under_img__wrapper {
    max-width: 40%;
    height: 240px;

}

.ui2,
.ui5 {
    margin-left: 65px;
    margin-right: 65px;
}
